POSTGRES_DB=kamoved
POSTGRES_USER=kamoved
POSTGRES_PASSWORD=replace-with-a-long-random-password

KAMOVED_USERS_0_USERNAME=admin
KAMOVED_USERS_0_PASSWORD=replace-with-another-long-random-password
KAMOVED_USERS_0_DISPLAY_NAME=Администратор
KAMOVED_USERS_0_EMAIL=replace-with-admin-email
KAMOVED_USERS_0_ACTIVE=true

KAMOVED_USERS_1_USERNAME=maksim
KAMOVED_USERS_1_PASSWORD=replace-with-a-long-random-password-for-maksim
KAMOVED_USERS_1_DISPLAY_NAME=Максим
KAMOVED_USERS_1_EMAIL=replace-with-maksim-email
KAMOVED_USERS_1_ACTIVE=true

KAMOVED_USERS_2_USERNAME=replace-with-third-username
KAMOVED_USERS_2_PASSWORD=replace-with-a-long-random-password-for-third-user
KAMOVED_USERS_2_DISPLAY_NAME=Третий пользователь
KAMOVED_USERS_2_EMAIL=replace-with-third-user-email
KAMOVED_USERS_2_ACTIVE=true

KAMOVED_MAIL_ENABLED=false
KAMOVED_MAIL_HOST=smtp.timeweb.ru
KAMOVED_MAIL_PORT=465
KAMOVED_MAIL_SSL_ENABLED=true
KAMOVED_MAIL_STARTTLS_ENABLED=false
KAMOVED_MAIL_USERNAME=info@kamoved.ru
KAMOVED_MAIL_PASSWORD=replace-with-mailbox-password
KAMOVED_MAIL_FROM=info@kamoved.ru
KAMOVED_MAIL_FROM_NAME=Камовед
KAMOVED_MAIL_REDIRECT_TO=
